{% extends 'base.html.twig' %}

{% block title %}Ajout Point{% endblock %}

{% block body %}

<div class="form-body d-flex justify-content-center align-items-center">
    <div class="form col-10 p-4">

        <p class="fw-bold h5 mb-3">Pour aider des personnes en difficulté par le biais de cette application, deux possibilités s’offrent à vous:</p> 
        <ul>
            <li>
                <p class="h6 mb-3">Soit de contribuer à des actions en cours: laissez vos coordonnées pour être informé des besoins des associations ou autres (lien vers une liste de « volontaires » accessibles aux associations partenaires et à aux acteurs à l’origine d’actions/services affichés dans CARMA)</p> 
            </li>
            <li>
                <p class="h6 mb-3">Soit de proposer un nouveau service ou une action flash: cliquer ici pour décrire votre proposition qui s’affichera dans la carte (lien vers l’interface qui permet de déclarer une action dans la base)</p>
            </li>
        </ul>

    </div>
</div>

{% endblock %}
