<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cet catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn bg-danger text-white">Supprimer</button>
</form>
