{% extends 'base.html.twig' %}

{% block title %}Ajout Categorie{% endblock %}

{% block body %}
<div class="form-body text-center d-flex justify-content-center align-items-center">
    <div class="form p-4">
    <h1>Ajouter une catégorie</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a class="btn btn-form mb-4 bg-primary" href="{{ path('admin_category_index') }}">Retour</a>
    </div>
</div>
{% endblock %}
