.form{
    background-color: white;
    margin-top: 4em;
    border-radius: 30px;
}

.form-body{
    min-height: 100vh;
    background-color: #C4C4C4;
}

.input{
    border-radius: 20px;
    background-color: #E3E3E3;
    width: 75%;
    font-size: 1em;
}

.form-label{
    font-size: 1em;
}

.h1{
    color: #F10E00;
}

.btn-form{
    background-color: #F10E00;
    color: white;
    width: 75%;
    border-radius: 20px;
}